.App {
  text-align: center;
}

.MovieForm {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.MovieForm h1 {
  text-align: center;
}

.MovieForm .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.MovieForm .form-data label {
  display: inline-block;
  width:  75px;
  margin-right:  10px;
  text-align: right;
}

.MovieForm .form-data input:not([type="submit"]) {
  flex-grow: 1;
}

label {
  min-width: 100px;
}

input {
  max-width: 200px;
}

input:focus {
  background-color: teal;
  color: white;
}

fieldset {
  border-radius: 5px;
}

legend {
  background-color: black;
  color: white;
  padding: 3px 6px;
}